@import url("./@fortawesome/fontawesome-free/css/fontawesome.min.css");
@import url("./@fortawesome/fontawesome-free/css/brands.css");
@import url("./@fortawesome/fontawesome-free/css/solid.min.css");
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  transition: .3s all ease-in;
  max-width: 1920px;

  input:focus {
    border-color: #000000;
    outline: none !important;
  }

  .Commissioner {
    font-family: 'Commissioner', sans-serif;

    &__300 {
      font-weight: 300;
    }

    &__400 {
      font-weight: 400;
    }
  }

  .Jost {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
  }

  .Merriweather {
    font-family: 'Merriweather', serif;

    &__700 {
      font-weight: 700;

      &--italic {
        font-style: italic;
      }
    }
  }

  .Monserrat {
    font-family: 'Montserrat', sans-serif;

    &__100 {
      font-weight: 100;
    }

    &__700 {
      font-weight: 700;
    }
  }

  .Pacifico {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
  }

  .Philosopher {
    font-family: 'Philosopher', sans-serif;

    &__400 {
      font-weight: 400;
    }

    &__700 {
      font-weight: 700;
    }
  }

  .Ubuntu-Condensed {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 400;
  }

  .Unbounded {
    font-family: 'Unbounded', cursive;

    &__500 {
      font-weight: 500;
    }

    &__700 {
      font-weight: 700;
    }
  }

  div[data-accordion="collapse"] {
    ul {
      list-style: disc;
      padding-left: 20px;

      li {
        font-size: 1.2rem;
        padding-bottom: 5px;
      }
    }
  }

  .btn {
    font-weight: 700;
    background-color: #39ff52;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#39ff52), to(#1e8201));
    background-image: -webkit-linear-gradient(top, #39ff52, #1e8201);
    background-image: -o-linear-gradient(top, #39ff52 0, #1e8201 100%);
    background-image: linear-gradient(180deg, #39ff52 0, #1e8201);
    letter-spacing: 0;
    -webkit-box-shadow: 0 0.5625em 1.125em rgb(44 220 43 / 75%);
    box-shadow: 0 0 1.125em rgb(44 220 43 / 75%);
    -webkit-transition: opacity 0.15s linear, -webkit-box-shadow 0.15s linear;
    transition: opacity 0.15s linear, -webkit-box-shadow 0.15s linear;
    -o-transition: box-shadow 0.15s linear, opacity 0.15s linear;
    transition: box-shadow 0.15s linear, opacity 0.15s linear;
    transition: box-shadow 0.15s linear, opacity 0.15s linear, -webkit-box-shadow 0.15s linear;

    &:hover {
      -webkit-box-shadow: 0 0 3.125em rgb(44 220 43 / 75%);
      box-shadow: 0 0 2.125em rgb(44 220 43 / 75%);
      -webkit-transition: opacity 0.15s linear, -webkit-box-shadow 0.15s linear;
      transition: opacity 0.15s linear, -webkit-box-shadow 0.15s linear;
      -o-transition: box-shadow 0.15s linear, opacity 0.15s linear;
      transition: box-shadow 0.15s linear, opacity 0.15s linear;
      transition: box-shadow 0.15s linear, opacity 0.15s linear, -webkit-box-shadow 0.15s linear;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#39ff52), to(#1e8201));
      background-image: -webkit-linear-gradient(top, #39ff52, #1e8201);
      background-image: -o-linear-gradient(top, #39ff52 0, #1e8201 100%);
      background-image: linear-gradient(180deg, #39ff52 0, #1e8201);
    }

    &:focus-visible {
      outline: 0;
    }
  }
}
