<footer>
  <nav class="container py-12 m-auto md:flex hidden items-center justify-between">
    <ul class="space-x-8 flex justify-between text-xl text-white/70">
      <li class="lg:w-auto w-full"><a href="#s-chem-rabotayo" class="hover:underline underline-offset-2">с чем работаю</a></li>
      <li class="lg:w-auto w-full"><a href="#obo-mne" class="hover:underline underline-offset-2">обо мне</a></li>
      <li class="lg:w-auto w-full"><a href="#skolko-stoit" class="hover:underline underline-offset-2">сколько стоит</a></li>
      <li class="lg:w-auto w-full"><a href="#format-vstrech" class="hover:underline underline-offset-2">формат работы</a></li>
      <li class="lg:w-auto w-full"><a href="#contact" class="hover:underline underline-offset-2">контакты</a></li>
    </ul>

    <ul class="text-lg flex space-x-8">
      <li>
        <a href="tel:+79054960000">
          <i class="fa-solid fa-phone hover:text-blue-400 text-white"></i>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://api.whatsapp.com/send/?phone=79054960000&text=Здравствуйте, хочу записаться на консультацию.&nbsp;">
          <i class="fa-brands fa-whatsapp hover:text-green-300 text-white"></i>
        </a>
      </li>
      <li>
        <a href="mailto:hello@levina.pro">
          <i class="fa-solid fa-at hover:text-blue-500 text-white"></i>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://t.me/levimation">
          <i class="fa-brands fa-telegram hover:text-blue-700 text-white"></i>
        </a>
      </li>
    </ul>
</footer>