<footer>
  <nav class="container pt-6 pb-8 m-auto md:flex hidden items-center justify-between">
    <ul class="space-x-8 flex justify-between text-xl text-white/70">
      <li class="lg:w-auto w-full"><a href="#s-chem-rabotayo" class="hover:underline underline-offset-2">с чем работаю</a></li>
      <li class="lg:w-auto w-full"><a href="#obo-mne" class="hover:underline underline-offset-2">обо мне</a></li>
      <li class="lg:w-auto w-full"><a href="#skolko-stoit" class="hover:underline underline-offset-2">сколько стоит</a></li>
      <li class="lg:w-auto w-full"><a href="#format-vstrech" class="hover:underline underline-offset-2">формат работы</a></li>
      <li class="lg:w-auto w-full"><a href="#contact" class="hover:underline underline-offset-2">контакты</a></li>
    </ul>

    <ul class="text-lg flex space-x-8">
      <li>
        <a href="tel:+79054960000">
          <img class="h-auto w-6" src="../assets/images/phone-color.png" />
        </a>
      </li>
      <li>
        <a href="mailto:hello@levina.pro">
          <img class="h-auto w-6" src="../assets/images/mail-color.png" />
        </a>
      </li>
      <li>
        <a target="_blank" href="https://api.whatsapp.com/send/?phone=79054960000&text=Здравствуйте, хочу записаться на консультацию.&nbsp;">
          <img class="h-auto w-6" src="../assets/images/whatsapp-color.png" />
        </a>
      </li>
      <li>
        <a target="_blank" href="https://t.me/levimation">
          <img class="h-auto w-6" src="../assets/images/telegram-color.png" />
        </a>
      </li>
    </ul>
</footer>