<meta charset="UTF-8">

<link rel="stylesheet" href="assets/css/@fontawesome/fontawesome-free/css/fontawesome.min.css" />
<link rel="stylesheet" href="assets/css/@fontawesome/fontawesome-free/css/brands.min.css" />
<link rel="stylesheet" href="assets/css/@fontawesome/fontawesome-free/css/solid.min.css" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400&family=Jost:wght@500&family=Merriweather:ital,wght@0,700;1,700&family=Montserrat:wght@100;700&family=Pacifico&family=Philosopher:wght@400;700&family=Ubuntu+Condensed&family=Unbounded:wght@500;700&display=swap" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css" />
<link rel="stylesheet" href="assets/css/style.min.css" />

<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link rel="stylesheet" href="tailwind.css">

<!-- Useful meta tags -->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">
<meta name="description" content="">

<title>{{ title }}</title>
